*{
    margin: 0%;
    padding: 0%;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: aliceblue;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #CACACA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.pink_rectangle{
    background-color: pink;
    height: 16vh;
    border-radius: 0 0 0 50vw;

}
.logo{
    margin-left: 8vw;
    height: 110px;
}
.navbar a{
    font-size: 24px;
    color: black;
    text-decoration: none;
    margin-left: 3vw;
}
nav ul{
    float: right;
    list-style-type: none;
    line-height: 80px;
}
nav ul li{
    display: inline-block;
    line-height: none ;
}
#checkbutton,.close-menu{
    position: absolute;
}
#checkbutton{
    margin-top: 6vh;
    font-size: 30px;
    margin-left: 4vw;
    display: none;
    cursor: pointer;
    top: 8%; 
    transform: translateY(-50%);
}
.close-menu{
    display: none;
    font-size: 38px;
    margin-top: -3vh;
    margin-left: 4vw;
    cursor: pointer;
    z-index: 1100;
}
#check{
    display: none;
}
#checkbox{
    display: none;
}
#check:checked ~ #checkbutton{
    display: none;
}
#check:checked ~ .close-menu{
    display: inline;
}

#check:checked ~ ul{
    left: 0;
}
.titleapparel{
    font-family: "Oregano", regular;
    position: absolute;
    font-size: 60px;
    margin-top: -20vh;
    margin-left: 39rem;
}
#buttonA{
    background-color: #755757;
    width: 10rem;
    height: 3rem;
    margin-top: -9vh;
    margin-left: 5vw;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    position: absolute;

}

 #buttonB{
    background-color: #755757;
    width: 10rem;
    height: 3rem;
     margin-top: 80vh; 
    margin-left: 5vw; 
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    color: white;
}

#buttonC{
    background-color: #755757;
    width: 10rem;
    height: 3rem;
    margin-top: 170vh;
    margin-left: 5vw;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    color: white;

}
#buttonD{
    background-color: #755757;
    width: 10rem;
    height: 3rem;
    margin-top: 258vh;
    margin-left: 5vw;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    color: white;
} 

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    column-gap: 250px;
    row-gap: 200px;
    margin-left: 5rem;
    margin-top: 40vh;
}
.hoddie1{
    width: 14rem;
    height: 23rem;
    border: 20px solid white;
    transition: transform 0.7s ease;
    cursor: pointer;
}
.hoddie1:hover {
    transform: scale(1.1);
}
.hat1{
    width: 14rem;
    height: 23rem;
    border: 20px solid white;
    transition: transform 0.7s ease;
    cursor: pointer;
}
.hat1:hover {
    transform: scale(1.1);
}
.tshirt1{
    width: 14rem;
    height: 23rem;
    border: 20px solid white;
    transition: transform 0.7s ease;
    cursor: pointer;
}
.tshirt1:hover {
    transform: scale(1.1);
}
.glass1{
    width: 200px;
    height: 340px;
    border: 20px solid white;
    transition: transform 0.7s ease;
    cursor: pointer;
}
.glass1:hover {
    transform: scale(1.1);
}
#button1,#button2,#button3,#button4,#button5,#button6,#button7,#button8,#button9,#button10,#button11,#button12{
    background-color: white;
    width: 200px;
    height: 50px;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
    color: black;
    transition: transform 0.7s ease;
}
@media (max-width: 1316px){
    .navbar a{
        font-size: 17px;
    }
}
@media (max-width:1158px){
    .pink_rectangle{
        height: 15vh;
        width: 39vw;
    }
    .logo{
        height: 13vh;
        margin-left: 4vw;
    }
    .navbar a{
        font-size: larger;
    }
}
@media (max-width:1010px){
    .pink_rectangle{
        height: 15vh;
        width: 38vw;
    }
    .logo{
        height: 10vh;
        margin-left: 5vw;
    }
    .navbar a{
        font-size: 15px;
    }
    
    #checkbutton{
        display: block;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        background: #526168;
        position: absolute;
        top: -2vh;
        left: -105vh;
        opacity: 70%;
        transition: .5s;
    }  
    nav ul li{
        display: block;
        text-align: left;
        margin-top: 7vh;
    }
    .navbar a{
        font-size: 28px;
        text-decoration: solid black;
    }
    

}
@media (max-width:895px){
    .pink_rectangle{
        height: 13vh;
        width: 44vw;
        
    }
    .logo{
        height: 9vh;
        margin-left: 7vw;
    }
    .navbar a{
        font-size: 13px;
    }

}
@media (max-width:755px){
    .pink_rectangle{
        height: 13vh;
        width: 44vw;
        
    }
    .logo{
        height: 9vh;
        margin-left: 7vw;
    }

}
@media (max-width:692px){
    .pink_rectangle{
        height: 11vh;
        width: 46vw;

        
    }
    .logo{
        height: 8vh;
        margin-left: 8vw;
    }
    #checkbutton{
        margin-top: 5vh;
    }
}
@media (max-width:600px){
    .pink_rectangle{
        height: 10vh;
        width: 46vw;

        
    }
    .logo{
        height: 6vh;
        margin-left: 6vw;
    }
    #checkbutton{
        margin-top: 5vh;
    }
}
@media (max-width:423px){
    .pink_rectangle{
        height: 6.5vh;
        width: 38vw;

        
    }
    .logo{
        height: 4vh;
        margin-left: 4.5vw;
        margin-top: 1vh;
    }

}